#contenido
{
  margin: 1em;
}

#contenido .item
{
  background: #FFFFFF;
  border-bottom: 3px solid #22BCE0;
  margin-bottom: 2em;
  min-height: 128px;
  position: relative;
}

#contenido .item .autor_item
{
  color: #AAA;
}

#contenido .item .datos_item
{
  margin: 1em 1em 0 0;
  text-align: right;
}

#contenido .item .datos_item .tag_item
{
  background: #F4502A;
  border-radius: 0.5em;
  color: #FFFFFF;
  display: inline-block;
  float: left;
  padding: 0.2em;
  text-decoration: none;
}

#contenido .item .imagen_item
{
  float: left;
  margin: 0 1em 0 0;
}

#contenido .item .imagen_item img
{
  width: 96px
}

#contenido .item .titulo_item
{
  font-size: 1.2em;
  font-style: italic;
  padding: 1em 1em 0 0;
}

#contenido .item .titulo_item a
{
  color: #444;
  text-decoration: none;
}

#contenido .item .votacion
{
  background: #FFFFFF;
  border: 1px solid #FF0000;
  border-radius: 0 0 0.5em 0.5em;
  left: 5%;
  margin-top: 3px;
  padding: 0.2em 0.5em;
  position: absolute;
  top: 100%;
  width: 90%;
}

#contenido .item .votacion .comentarios_item,
#contenido .item .votacion .guardar_item
{
  float: right;
}
