a
{
  color: #22BCE0;
}

body
{
  background: #EEEEEE;
  font-family: "Arial";
  font-size: 16px;
}

header
{
  background: #343b54;
  color: #FFFFFF;
  overflow: hidden;
  padding: 0.625em;
  position: relative;
}

header figure
{
  float: left;
}

header h1
{ 
  font-size: 1.125em;
  font-weight: normal;
  margin: 0.2em 70px 0 0;
}

header #avatar
{
  margin: 0.5em 0.5em 0 0;
  position: absolute;
  right: 0;
  top: 0;
}

header #avatar img
{
  border-radius: 50%;
  width: 55px;
}

header #logo img
{
  border-right: 1px solid #FFFFFF;
  margin-right: 0.5em;
  padding-right: 0.5em;
  width: 52px;
}

nav
{
  background: #80BCA3;
  padding: 0 0.5em;
  position: relative;
}

nav ul
{
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul #publicar_nav
{
  position: absolute;
  top: -0.3em;
  right: 0;
}

nav ul #publicar_nav a
{
  background: #22BCE0;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.5 ) 5px 5px 20px;
  font-style: italic;
  padding: 0.8em 0.5em;
  text-decoration: none;
  text-shadow: rgba(0, 0, 0, 0.5 ) 2px 2px 5px;
}

nav ul li
{
  display: inline-block;
  margin: 0 1em 0 0;
}

nav ul li a
{
  color: #FFFFFF;
  display: block;
  padding: 0.5em 0;
}
